.cursor-glow{

position:fixed;

width:550px;

height:550px;

border-radius:50%;

background:
radial-gradient(

circle,

rgba(232,205,184,.45) 0%,

rgba(176,137,104,.30) 30%,

rgba(111,86,72,.18) 55%,

transparent 80%

);

transform:translate(-50%,-50%);

pointer-events:none;

z-index:-3;

transition:
left .12s linear,
top .12s linear;

filter:blur(45px);

mix-blend-mode:screen;

}

