.password-container{

position:relative;

width:100%;

}

.password-container input{

width:100%;

}

.password-toggle{

position:absolute;

right:18px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

font-size:20px;

color:#672b0b;

transition:.3s;

}

.password-toggle:hover{

color:#ffffff;

transform:translateY(-50%) scale(1.15);

}

.password-strength{

margin-top:10px;

margin-left:8px;

font-size:15px;

font-weight:600;

transition:.3s;

}

.password-strength.weak{

color:#ff4d4d;

}

.password-strength.medium{

color:#ffb84d

}

.password-strength.strong{

color:#53d769;

}

.password-strength.excellent{

color:#00e676;

text-shadow:

0 0 8px rgba(0,230,118,.5);

}